body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Press Start 2P", serif;
  font-size: 15px;
}

#root {
  -webkit-overflow-scrolling: touch;
  height: auto;
}

p {
  margin: 0;
}

.defaultTitle {
  margin-left: 10%;
  z-index: 99;
}

@media all and (max-width: 350px), all and (max-height: 500px) {
  html,
  body,
  #root {
    font-size: 10px !important;
  }

  button {
    height: 1rem !important;
    line-height: 0.01rem !important;
  }
}

@media all and (min-width: 351px) and (max-width: 800px) {
  html,
  body,
  #root {
    font-size: 13px;
  }
}

@media all and (min-width: 801px) and (max-width: 1250px) {
  html,
  body,
  #root {
    font-size: 14px;
  }
}

@media all and (min-width: 1800px) {
  html,
  body,
  #root {
    font-size: 18px;
  }
}
